@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">First attempt making DOTABUFF</p>
    <p>Thanks OpenDota Api team to give me a chance making DOTABUFF site</p>
</div>

<div>
    <p>
        BetaDota2StatsMVC
        <br />
        Personal stats for Dota 2  using Opendota Api
        <br />
        Using my steam id u can see :
        <br />
        1. Profile INFO
        <br />
        2. Matches History
        <br />
        3. Match Details
        <br />
        For other profile u can change in controllers (player/match) the value in steamID.
        <br />
        This site make calls to OpenDota Api endpoints. Heroes retrieved from heroes.json file
        <br />
    </p>
    <a href="https://docs.opendota.com/" class="btn btn-primary btn-lg">OpenDota Api</a>
</div>